@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes progress {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(300%); }
  }
  
  .animate-progress {
    animation: progress 1.5s linear infinite;
  }
  